.parallax {
  background-attachment: fixed;
  background-image: url(../public/image/common/iiisometric.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax-1 {
  background-attachment: fixed;
  background-image: url(../public/image/common/iiisometric-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-opacity-half {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.bg-opacity {
  /* background-color: #6441A5aa; */
  background-color: #ffffffaa;
}

.img-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

a.a-style {
  text-decoration: none;
}

#porfile-bg {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(../public/image/common/stacked-blob.svg);
}

#porfile-bg img {
  margin-top: auto;
}

.silhouette img {
  transition: 0.5s ease;
}

.silhouette:hover img {
  -webkit-filter: contrast(0) sepia(100%) hue-rotate(204deg) saturate(2000%)
    brightness(100%);
  filter: contrast(0) sepia(100%) hue-rotate(206deg) saturate(2000%)
    brightness(80%);
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
span.fs-5,
span.display-1,
.txt-anupam {
  color: #6441a5;
  font-weight: 500 !important;
}

.btn-outline-dark:hover {
  background-color: #6441a5 !important;
  border-color: #6441a5 !important;
}

hr.hr-dashed {
  border-style: dashed;
}

.gradient-bottom-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}

.bg-anupam {
  background-color: #6441a5;
}

footer {
  background-color: #6441a5;
}

#footer-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0) 30%
  );
}

footer a,
footer p {
  color: #fff !important;
}

.link-anupam a {
  color: #6441a5 !important;
}

.text-color {
  color: #6441a5;
}

.text-shadow {
  text-shadow: 5px 5px 5px #000000;
}

.bg-color {
  background-color: #6441a5;
}

.card-review {
  width: 320px;
}

#btn-cta {
    width: 120px;
    height: 120px;
    display: block;
    padding: 20px;
    margin: 30px auto;
    background: #FFF;
    text-align: center;
    border-radius: 50%;
}

ul li.list-group-item {
    background: none;
}